@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-be-vietnam-pro), system-ui, sans-serif;
}
